body {
    max-width: 90%;
  }
  
.chart-information {
  color: #fff;
}  

.grid-container {
  position: relative;
  margin: -90vh auto auto auto;
  width: 80%;
  height: 80%;
  background: transparent;
  align-items: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row: auto auto;
  grid-column-gap: 5vw;;
  grid-row-gap: 5vh;
}
.grid-box {
  background-color: #333;
  padding: 3%;
  border-radius: 10px;
  display: flex;
  align-items:center;
  justify-content:center;
}


/* Page background */
.bg-image {
  background-image: url('src\assets\aircraft_bg.jpg');
  filter: blur(10px);
  height: 100%;
  width: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}