<div class="bg-image"></div>

<div class="grid-container">
    <div class="chart-wrapper grid-box" *ngIf="isDataAvailable">
        <canvas baseChart 
            [datasets]="lineChartData" 
            [options]="lineChartOptions"
            [colors]="lineChartColors" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
        </canvas>
    </div>
    <div class="grid-box"></div>
    <div class="grid-box"></div>
    <div class="grid-box"></div>

</div>
