<div class="bg-image"></div>

<div class="grid-container">
    <div class="chart-wrapper grid-box">
        <canvas baseChart
            [datasets]="CHTChartData" 
            [labels]="chartLabels"
            [options]="CHTChartOptions"
            [colors]="CHTChartColors" 
            [legend]="CHTChartLegend" 
            [chartType]="CHTChartType" 
            [plugins]="CHTChartPlugins">
        </canvas>
    </div>
    <div class="grid-box chart-information">
        <div>
            Duration of flight: {{ this.flightDuration }}
        </div>
        <div>
            <ul>
                <li *ngFor="let element of this.chtInfoArray">EGT {{ this.chtInfoArray.indexOf(element) + 1 }} Average: {{ element | number : '1.2-2' }}</li>
            </ul>
        </div>
    </div>
    <div class="chart-wrapper grid-box">
        <canvas baseChart 
            [datasets]="EGTChartData" 
            [labels]="chartLabels"
            [options]="EGTChartOptions"
            [colors]="EGTChartColors" 
            [legend]="EGTChartLegend" 
            [chartType]="EGTChartType" 
            [plugins]="EGTChartPlugins">
        </canvas>
    </div>
    <div class="grid-box chart-information">
        <div>
            <ul>
                <li *ngFor="let element of this.egtInfoArray">EGT {{ this.egtInfoArray.indexOf(element) + 1 }} Average: {{ element | number : '1.2-2' }}</li>
            </ul>
        </div>
    </div>

</div>
