<div class="bg-image"></div>
      
<body class="content-container">
  <div class="drop-zone-container">
    <div id="drop-zone" (drop)="onFileDrop($event);onDragEnd()" (dragover)="onDragOver($event)" (dragleave)="onDragEnd()">
      <label class="file-upload"for="fileItem">
        <fa-icon [icon]="faFileUpload" size="lg"></fa-icon>Upload File        
      </label>
      <input type="file" class="form-control-file" id="fileItem" (change)="onFileSelect($event)" multiple>
      <span id="drop-zone-text">Or Drop Here</span> 
    </div>
  </div>
  <div class="table-container">
    <div class="toggle-container">
      <div class="toggle-element-container">
        <mat-slide-toggle [checked]="isTimeInfoChecked" (change)="toggleColumnDisplay('timeinfo')">
          <h3>
            Date/Time
          </h3>
        </mat-slide-toggle>
      </div>
      <div class="toggle-element-container">
        <mat-slide-toggle [checked]="isGeneralChecked" (change)="toggleColumnDisplay('general')">
          <h3>
            General Data
          </h3>
        </mat-slide-toggle>
      </div>
      <div class="toggle-element-container">
        <mat-slide-toggle [checked]="isGenTempsChecked" (change)="toggleColumnDisplay('generaltemps')">
          <h3>
            Temp. Data
          </h3>
        </mat-slide-toggle>
      </div>
      <div class="toggle-element-container">
        <mat-slide-toggle [checked]="isADCChecked" (change)="toggleColumnDisplay('adc')">
          <h3>
            ADC Data
          </h3>
        </mat-slide-toggle>
      </div>
      <div class="toggle-element-container">
        <mat-slide-toggle [checked]="isGIAChecked" (change)="toggleColumnDisplay('gia')">
          <h3>
            GIA Data
          </h3>
        </mat-slide-toggle>
      </div>
      <div class="toggle-element-container">
        <mat-slide-toggle [checked]="isAHRSChecked" (change)="toggleColumnDisplay('ahrs')">
          <h3>
            AHRS Data
          </h3>
        </mat-slide-toggle>
      </div>
      <div class="toggle-element-container">
        <mat-slide-toggle [checked]="isFuelChecked" (change)="toggleColumnDisplay('fuel')">
          <h3>
            Fuel Data
          </h3>
        </mat-slide-toggle>
      </div>
    </div>
    <div class="table-data-container">
      <div class="button-grid">
        <div id="button-grid-filters">
          <button mat-raised-button (click)="applyGPSFilter()">Filter GPSfix</button>
          <button mat-raised-button (click)="applyHighEgtOrChtFilter()">High CHT/EGT</button>
          <button mat-raised-button (click)="clearFilter()">Clear Filters</button>
        </div> 
      </div>
  
      <!--- This table is for Edge/Chrome workaround where sticky headers wasn't working as intended.
          It connects to a NULL data source (so no data displayed) and just shows a persistent header.
          When you scroll up/down on the data, it is actually the 2nd table (id="csv-table") being scrolled -->
      <div id="table-header" #scrollHeader (scroll)="scrollData.scrollLeft = scrollHeader.scrollLeft">
        <mat-table #table id="mat-header" [dataSource]="this.dummyDataSource" > 
          <ng-container *ngFor="let column of getDisplayedColumns()" [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
            <td mat-cell *matCellDef="let element"></td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="getDisplayedColumns(); sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
        </mat-table>
      </div>
      
      <!--- This table contains the actual data - the header for this table has been hidden in CSS -->
      <div id="csv-table" #scrollData (scroll)="scrollHeader.scrollLeft = scrollData.scrollLeft">
        <mat-table #table id="mat-data" [dataSource]="this.dataSource">
          <ng-container *ngFor="let column of getDisplayedColumns()" [matColumnDef]="column">
            <div *ngIf="column === 'UTC Time'; then timeCol else generalCol"></div>
            <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
            <ng-template #timeCol>
              <td mat-cell *matCellDef="let element" (click)="showColumnName(column)"> {{ element[column] | fullTimeFormatter | slice: 0:8 }} </td>
            </ng-template>
            <ng-template #generalCol>
              <td mat-cell *matCellDef="let element" (click)="showColumnName(column)"> {{ element[column] }} </td>
            </ng-template>
          </ng-container>          
  
          <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()" style="display:none"></tr>
          <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
        </mat-table>
      </div> 
  
      <mat-paginator #paginator
        [pageSize]="200"
        [pageSizeOptions]="[100, 200, 400]"
        [showFirstLastButtons]="true"
        (page)="resetTableScrollPosition($event)">
      </mat-paginator>
    </div>
  </div>


</body>
