body, html {
    height: 100%;
    width: 100%;
    margin: auto;
}

body {
    background: #191414;
    font-family: 'Open Sans';
}

button:hover {
  outline: 0;
  box-shadow: 0 0 3px 3px rgba(19,106,205,0.2);
  border-color: transparent;
  background-color: rgb(210,210,210);
  transition: all 0.25s;
}

.dialog-text {
  float: right;
  font-weight: 700;
}

/* Fluid font size */
html {
    font-size: 1.75vmin;
  }
  @media screen and (min-width: 320px) {
    html {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
  }
  @media screen and (min-width: 1000px) {
    html {
      font-size: 22px;
    }
  }
