@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body, html {
    height: 100%;
    margin: auto;
}

body {
    background: linear-gradient(to bottom, #2b2d30, #2a2a2b);
}


/* Fluid font size */
html {
    font-size: 1.75vmin;
  }
  @media screen and (min-width: 320px) {
    html {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
  }
  @media screen and (min-width: 1000px) {
    html {
      font-size: 22px;
    }
  }
